{
  "presets": ["babel-preset-expo"],
  "plugins": [
    "@babel/transform-react-jsx-source",
    [
      "babel-plugin-module-resolver",
      {
        "root": "./",
        "alias": {
          "kiki": "."
        },
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx",
          ".android.js",
          ".android.tsx",
          ".ios.js",
          ".ios.tsx"
        ]
      }
    ]
  ]
}
